@ "utf-8"
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
main{
    background-color: #D9EEE9;
    width: 1000px;
    margin: auto;
    padding: 10px;
}
body{     
}
h1{
    text-align: center;
    color: #33505C;
}
h2{
    text-align: center;
    color: #33505C;
}
p{
    text-align: justify;
}